tools/802_tei_odd/vicav_lingfeatures.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0" xmlns:s="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>VICAV linguistic feature document ODD</title>
        <author>Daniel Schopper</author>
      </titleStmt>
      <publicationStmt>
        <publisher>ACDH-OeAW</publisher>
        <pubPlace>Vienna</pubPlace>
        <date>2018</date>
        <availability status="restricted">
          <p><ref type="license" target="http://creativecommons.org/licenses/by-nc-sa/3.0/"/></p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>This is an original digital text</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="vicav_lingfeats" start="TEI">
        <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt availability rendition sourceDesc encodingDesc tagsDecl revisionDesc change listPrefixDef prefixDef"/>
        <moduleRef key="core" include="address author bibl cit date editor desc graphic head hi quote name note p publisher pubPlace ref respStmt resp rs series title"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="body div TEI text"/>
        <moduleRef key="corpus"/>
        <moduleRef key="analysis" include="w pc phr"/>
        <moduleRef key="dictionaries" include="lbl"/>
        <moduleRef key="namesdates" include="geo"/>
        <elementSpec ident="body" mode="change" module="textstructure">
          <content>
            <sequence>
              <elementRef key="head" minOccurs="1" maxOccurs="1"/>
              <elementRef key="div" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="cit" mode="change" module="core">
          <constraintSpec ident="cit" scheme="schematron">
            <constraint>
              <s:rule context="tei:cit[@type = 'featureSample']">
                <s:assert test="*[1] instance of element(tei:lbl)">a lbl element with the name of the exemplified feature must be the first child of a featureSample</s:assert>
                <s:assert test="exists(tei:quote)">a quote element must be present in a featureSample</s:assert>
                <s:assert test="exists(tei:cit[@type = 'translation'])">a featureSample at least one translation of must be present.</s:assert>
              </s:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
       
      </schemaSpec>
    </body>
  </text>
</TEI>
